body {
  background-color: #3498db;
  display: none;
}

.wrapper {
  text-align: center;
}

h1 {
  padding-top: 20px;
  color: #ecf0f1;
}

.search {
  padding: 20px 0px;
}

input, button {
  -moz-box-sizing: content-box; /* or `border-box` */
  -webkit-box-sizing: content-box;
  box-sizing: content-box; 
}

.btn {
  width: 20px;
  border: 1px solid #000;
}

.btn.btn-primary {
  width: 20px;
  background: #f6da17;
  text-shadow: 2px 2px 0 #000;
  border: 1px solid #000;
  -moz-box-sizing: content-box; /* or `border-box` */
  -webkit-box-sizing: content-box;
  box-sizing: content-box; 
}

#searchField {
  height: 34px;
  border-radius: 2.5px;
  padding: 0px 5px 0px 15px;
  margin: 0px 5px;
  width: 300px;
  background-color: #ecf0f1;
  border: 1px solid #fff;
}

#results {
  text-align: left;
  display: none;
}

ul {
  margin: 0px 100px;
}

li {
  background-color: #ecf0f1;
  padding: 25px;
  list-style-type: none;
  border-radius: 5px;
  -webkit-transition: 0.25s;
          transition: 0.25s;

}

li:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  box-shadow: 1px 2.5px 5px #000;

}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

@media only screen and (max-width: 768px) {
  #searchField {
    width: 200px;
  }
  ul {
    margin: 15px;
  }
}